<div class="container">
    <div class="row">
        <div class="col-8">

            {{!-- Method  : como y action : a donde!--}}
            <form method="post" action="/registro/create">
                <div class="form-group">
                    <label id="nombre">Nombre </label>
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" class="form-control" placeholder="Apellido">
                </div>
                <div class="form-group">
                    <input type="email" name="correo" class="form-control" placeholder="foo@example.com">
                </div>
                <div class="form-group">
                    <input type="text" name="usuario" class="form-control" placeholder="usuario">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="****">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Registrate 🤓</button>
            </form>
        </div>
    </div>
</div>