<div class="container">
  <div class="row">
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ea
        ducimus rem, delectus dolor, dolorum et consequatur ab dolores vel
        explicabo quibusdam error provident eaque laborum aliquid tenetur
        assumenda possimus!
      </p>
    </div>
    <div class="col">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi
      repudiandae illum quisquam. Accusamus repudiandae ea fuga maiores dicta
      consequatur, deserunt rerum? Autem laborum beatae voluptate adipisci
      reprehenderit illum dolorem accusantium.
    </div>
  </div>
</div>
